@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
    font-family: Vazir;
    font-weight: normal;
    font-style: normal;
    src: url('static/fonts/Vazir.eot');
    src:
      url('static/fonts/Vazir.eot?#iefix') format('embedded-opentype'),
      url('static/fonts/Vazir.woff2') format('woff2'),
      url('static/fonts/Vazir.woff') format('woff'),
      url('static/fonts/Vazir.ttf') format('truetype');
    font-display: swap;
};

